{% extends "base.html" %}
{% load static %}




{% block title %}QGIS Tutorial Files and Links{% endblock %}
 
{% block head %} 
{% endblock head%} 



{% block content %}
<ul>
	<li><a href="https://www2.census.gov/geo/tiger/TGRGDB18/tlgdb_2018_a_us_roads.gdb.zip">Census Road Data</a></li>
	<li><a href="https://viewer.nationalmap.gov/basic/">The National Map Download</a></li>
	<li><a href="https://viewer.nationalmap.gov/services/">The National Map WMS Endpoints</a></li>
	<li><a href="https://data.fs.usda.gov/geodata/edw/edw_resources/fc/S_USA.RoadCore_FS.gdb.zip">Forest System Roads</a></li>
	<li><a href="https://data.fs.usda.gov/geodata/edw/edw_resources/fc/S_USA.RangerDistrict.gdb.zip">Forest Ranger District Boundaries</a></li>
	<li><a href="https://catalog.data.gov/dataset/blm-national-surface-management-agency-area-polygons-national-geospatial-data-asset-ngda">BLM Surface Management Agency</a></li>
	<li><a href="https://www.naturalearthdata.com/">Natural Earth Data</a></li>
	<li>____________________________</li>
	<li><a href="http://rmvtab.com/files/qgis_virt_style.zip">Styles Used in the tutorial</a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
</ul>


{% endblock %}
